name: Backend CI

on:
  push:
    branches: [ master ]
    paths:
      - "server/**"
      - ".github/workflows/ci.yml"
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      security-events: write

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"
